:root{
    color: #943ec9;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transform: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x:hidden;
}

section{
    padding:2rem 9% ;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255,51,153,05);
}

.heading span{
  color: #6a1b9a;
}



/* heading section */

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding: 1rem;
    margin:2rem 0;
    background:#943ec9; 
}

.heading span{
    color: #943ec9;
}

header{
    position:fixed;
    top:0;left:0;right:0;
    background: #fff;
    padding: 2rem 9%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    z-index:1000;
    box-shadow:0.5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;   
}

header .logo span{
    color:#6a1b9a
}

header.navbar {
  background-color: #f2f2f2;
  padding: 15px 0;
}

.nav-links {
  list-style: none;     
  display: flex;         
  justify-content: center; 
  gap: 30px;             
  padding: 0;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #6a1b9a;
  font-size: 18px;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #000;
}

header .icons a{
    color: #333;
    margin-left: 10rem;
    font-size: 18px;
    font-weight: 500;
}

header .icons a:hover{
    color:#6a1b9a;
}

header #toggler{
    display:none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333 ;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

/* header section  */

/* home section */

.home{
    display:flex;
    align-items: center;
    min-height: 100vh;
    background: url(background\ images.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: #333;
}

.home .content span{
    font-size: 3.5rem;
    color:#943ec9;
    padding: 1rem;
    line-height: 1.5;
}


.home .content p{
    font-size: 1.5rem;
    color:#000;;
    padding:1rem 0;
    line-height: 1.5;
}

.home .content .btn{
  display: inline-block;
  text-decoration: none;
  background-color:#6a1b9a;
  color: white;
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.3s;
}


.home .content  .btn:hover{
  background-color:#6a1b9a ;
}

/* home section ends */

/* about section */




.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position:relative;
}

.about .row .video-container video{
    width:100%;
    border:1.5rem solid#fff;
    border-radius: 5rem ;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size:3rem;
    background: #fff;
    width: 100%;
    padding:1rem 2rem;
    padding:1 rem 2 rem;
    text-align: center;
    mix-blend-mode: screen;

}
.about .row .content{
    flex: 1 1 40rem;
}
.about .row .content h3{
    font-size:  3rem;;
    color: #333;
}
.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5rem;

}

.about .content .btn{
  display: inline-block;
  text-decoration: none;
  background-color:#6a1b9a;
  color: white;
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.3s;
}


.home .content  .btn:hover{
  background-color:#6a1b9a ;
}



/* about section ends */


/* icon section */

.icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

.icons-container.icons{
    background: #fff;
    border: 1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}


.icons-container .icons h3{
    color: #333;
    padding-top:2rem;
    

}
.icons-container .icons span{
    color: #555;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}
/* icon section ends */


.products h1{
  text-align: center;
  font-size: 4rem;
  color:#000;
  padding: 1rem;
  margin: 2rem 0;
  background:#943ec9;
}


.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}
.box {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  position: relative;
}


.box .discount {
  position: absolute;
  top: 12px;
  left: 12px;
  background:#6a1b9a;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  z-index: 2;
}


.box .image {
  position: relative;
  border-radius: 5px;
  
}


.box .image img {
  width: 300px;
  height: 300px;        
  object-fit: cover;
  border-radius: 10px;
  border: 4px solid #6a1b9a;

}


.box .image a {
  position: absolute;
  right: 10px;
  background: #fff;
  color: #444;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
  transition: 0.3s;
}


.box .image .fa-heart {
  top: 15px;
}

.box .image .car-btn {
  top: 65px;
  width: auto;
  padding: 0 12px;
  border-radius: 20px;
  font-size: 13px;
  text-transform: capitalize;
}

.box .image .fa-share {
  top: 115px;
}


.box .image a:hover {
  background: #6a1b9a;
  color: #fff;
}


.box .content {
  padding: 18px;
  text-align: center;
}

.box .content h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 8px;
}

.box .content .price {
  font-size: 18px;
  color:#6a1b9a;
  font-weight: bold;
}

.box .content .price span {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
  margin-left: 6px;
}

/* product section ends */

/*  Review Section  */

.review {
  padding: 60px 8%;
  background: #f9f9f9;
}

.review .heading {
  text-align: center;
  font-size: 36px;
  color:#000;
  margin-bottom: 40px;
}

.review .heading span {
  color: #000
}


.box-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}


.box {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  width: 320px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  position: relative;
}


.box .fa-quote-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  color: #eee;
}


.stars {
  margin-bottom: 15px;
}

.stars i {
  color: #e84393;
  font-size: 18px;
}


.box p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}


.user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e84393;
}

.user h3 {
  font-size: 18px;
  color: #333;
}

.user span {
  font-size: 14px;
  color: #777;
}




/* Contact Section */
.contact{
    width: 100%;
    padding: 60px 8%;
    background: #f9f9f9;
}

.heading{
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}



.heading span{
    color: #000;
}


.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


.row form{
    width: 50%;
}

.box{
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}


textarea.box{
    resize: none;
}


.btn{
    padding: 12px 30px;
    background: #6a1b9a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover{
    background: #6a1b9a;
}


.image{
    width: 50%;
}

.image img{
    width: 100%;
    border-radius: 10px;
}

.footer .box container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

}

.footer .box container .box{
  flex:1 1 25rem;

}

.footer .box container .box h3{
  color: #333;
  font-size: 2.5rem;
  padding: 1rem 0;

}


.footer .box container .box a{
  display: block;
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;

}


.footer .box container .box a:hover{
  color: #6a1b9a;
  text-decoration: underline;
}

.footer .box-container .box img{
  margin-top:1rem;
}

.footer .credit{
  text-align: center;
  padding:1.5rem ;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #333;
  border-top: .1rem solid rgba(0,0,0,.1);



}

.footer .credit span{
  color: #6a1b9a;
}

  










/* media queries */
@media(max-width:991px){
   
  html{
    font-size: 55%;
}

  header{
      padding:2rem}
    }


@media(max-width:768px){

  header.fa-bars{
      display:block ;
    }

  header .navbar{
      position: absolute;
      top:100%; left:0; right: 0;
      background:#eee;
      border-top:.1rem solid rgba(0,0,0,.1);
      clip-path:polygon(0 0,100% 0,100% 0,0 0) ;
    }
    
  header #toggler:checked ~ .navbar{
      clip-path:polygon(0 0,100% 0,100% 100%, 0% 100%);
    }
    
  header .navbar a{
      margin:1.5rem;
      padding: 1.5rem;
      background:#fff ;
      border:.1rem solid rgba(0,0,0,.1);
      display: block;

    }
  .home .content.h3{
      font-size:2.5rem;
    }

  .home .content.span{
      font-size: 2.5rem;
    }
  .icon-container.icon h3{
      font-size:2rem;
    }
    
  .icon-container.icon span{
        font-size: 1.7rem;
    }
  .box .content h3 {
        font-size: 2rem;
    }

  .box .content .price {
         font-size: 1.7rem;
    }
 .box .content .price span {
         font-size: 2.5rem;
    }
  

}
@media (max-width: 768px) {
  .box-container {
    flex-direction: column;
    align-items: center;

  .row{
        flex-direction: column;
    }

  .row form,
    .image{
        width: 100%;
    }
  }
}

    
@media(max-width:450px){

  html{
    font-size: 50%;
    }

  .heading{
        font-size: 3rem;

    }
}